[Desktop Entry]
Type=Application
Name=Notes
Exec=obsidian --enable-features=UseOzonePlatform --ozone-platform=wayland
Terminal=false
NoDisplay=true
StartupWMClass=notebook
