:root {

    --background: #19120d;

    --blue: #b8c4ff;

    --blue-container: #374379;

    --blue-source: #89b4fa;

    --blue-value: #89b4fa;

    --cyan: #80d5d3;

    --cyan-container: #00504f;

    --cyan-source: #89dceb;

    --cyan-value: #89dceb;

    --error: #ffb4ab;

    --error-container: #93000a;

    --green: #b1d18a;

    --green-container: #354e16;

    --green-source: #a6e3a1;

    --green-value: #a6e3a1;

    --inverse-on-surface: #382e29;

    --inverse-primary: #8b4f24;

    --inverse-surface: #f0dfd7;

    --magenta: #c9beff;

    --magenta-container: #483f77;

    --magenta-source: #b4befe;

    --magenta-value: #b4befe;

    --on-background: #f0dfd7;

    --on-blue: #1f2c61;

    --on-blue-container: #dde1ff;

    --on-cyan: #003736;

    --on-cyan-container: #9cf1ef;

    --on-error: #690005;

    --on-error-container: #ffdad6;

    --on-green: #1f3701;

    --on-green-container: #cdeda3;

    --on-magenta: #31285f;

    --on-magenta-container: #e6deff;

    --on-orange: #512400;

    --on-orange-container: #ffdbc7;

    --on-primary: #502400;

    --on-primary-container: #ffdcc7;

    --on-primary-fixed: #311300;

    --on-primary-fixed-variant: #6e390e;

    --on-red: #561d20;

    --on-red-container: #ffdad9;

    --on-secondary: #422b1b;

    --on-secondary-container: #ffdcc7;

    --on-secondary-fixed: #2b1709;

    --on-secondary-fixed-variant: #5b4130;

    --on-surface: #f0dfd7;

    --on-surface-variant: #d7c3b8;

    --on-tertiary: #31320a;

    --on-tertiary-container: #e6e6ad;

    --on-tertiary-fixed: #1c1d00;

    --on-tertiary-fixed-variant: #48491f;

    --on-yellow: #452b00;

    --on-yellow-container: #ffddb3;

    --orange: #ffb688;

    --orange-container: #6e380f;

    --orange-source: #fab387;

    --orange-value: #fab387;

    --outline: #9f8d83;

    --outline-variant: #52443c;

    --primary: #ffb787;

    --primary-container: #6e390e;

    --primary-fixed: #ffdcc7;

    --primary-fixed-dim: #ffb787;

    --red: #ffb3b3;

    --red-container: #733335;

    --red-source: #f38ba8;

    --red-value: #f38ba8;

    --scrim: #000000;

    --secondary: #e5bfa8;

    --secondary-container: #5b4130;

    --secondary-fixed: #ffdcc7;

    --secondary-fixed-dim: #e5bfa8;

    --shadow: #000000;

    --source-color: #784117;

    --surface: #19120d;

    --surface-bright: #413731;

    --surface-container: #261e19;

    --surface-container-high: #312823;

    --surface-container-highest: #3d332d;

    --surface-container-low: #221a15;

    --surface-container-lowest: #140d08;

    --surface-dim: #19120d;

    --surface-tint: #ffb787;

    --surface-variant: #52443c;

    --tertiary: #caca93;

    --tertiary-container: #48491f;

    --tertiary-fixed: #e6e6ad;

    --tertiary-fixed-dim: #caca93;

    --yellow: #f5bd6f;

    --yellow-container: #633f00;

    --yellow-source: #f9e2af;

    --yellow-value: #f9e2af;

}
