:root {

    --background: #101417;

    --blue: #9ecafc;

    --blue-container: #164974;

    --blue-source: #89b4fa;

    --blue-value: #89b4fa;

    --cyan: #89d0ed;

    --cyan-container: #004d62;

    --cyan-source: #89dceb;

    --cyan-value: #89dceb;

    --error: #ffb4ab;

    --error-container: #93000a;

    --green: #91d5ad;

    --green-container: #035233;

    --green-source: #a6e3a1;

    --green-value: #a6e3a1;

    --inverse-on-surface: #2d3135;

    --inverse-primary: #266489;

    --inverse-surface: #e0e3e8;

    --magenta: #aac7ff;

    --magenta-container: #284777;

    --magenta-source: #b4befe;

    --magenta-value: #b4befe;

    --on-background: #e0e3e8;

    --on-blue: #003256;

    --on-blue-container: #d0e4ff;

    --on-cyan: #003544;

    --on-cyan-container: #baeaff;

    --on-error: #690005;

    --on-error-container: #ffdad6;

    --on-green: #003822;

    --on-green-container: #acf2c8;

    --on-magenta: #0b305f;

    --on-magenta-container: #d7e3ff;

    --on-orange: #55200d;

    --on-orange-container: #ffdbd0;

    --on-primary: #00344e;

    --on-primary-container: #c9e6ff;

    --on-primary-fixed: #001e2f;

    --on-primary-fixed-variant: #004b6f;

    --on-red: #511d3d;

    --on-red-container: #ffd8ea;

    --on-secondary: #22323f;

    --on-secondary-container: #d3e5f5;

    --on-secondary-fixed: #0c1d29;

    --on-secondary-fixed-variant: #384956;

    --on-surface: #e0e3e8;

    --on-surface-variant: #c1c7ce;

    --on-tertiary: #352b4b;

    --on-tertiary-container: #eaddff;

    --on-tertiary-fixed: #201634;

    --on-tertiary-fixed-variant: #4c4162;

    --on-yellow: #373100;

    --on-yellow-container: #f1e48a;

    --orange: #ffb59d;

    --orange-container: #723520;

    --orange-source: #fab387;

    --orange-value: #fab387;

    --outline: #8b9198;

    --outline-variant: #41474d;

    --primary: #95cdf7;

    --primary-container: #004b6f;

    --primary-fixed: #c9e6ff;

    --primary-fixed-dim: #95cdf7;

    --red: #fbb0d8;

    --red-container: #6c3455;

    --red-source: #f38ba8;

    --red-value: #f38ba8;

    --scrim: #000000;

    --secondary: #b7c9d9;

    --secondary-container: #384956;

    --secondary-fixed: #d3e5f5;

    --secondary-fixed-dim: #b7c9d9;

    --shadow: #000000;

    --source-color: #588fb6;

    --surface: #101417;

    --surface-bright: #363a3e;

    --surface-container: #1c2024;

    --surface-container-high: #262a2e;

    --surface-container-highest: #313539;

    --surface-container-low: #181c20;

    --surface-container-lowest: #0b0f12;

    --surface-dim: #101417;

    --surface-tint: #95cdf7;

    --surface-variant: #41474d;

    --tertiary: #cfc0e8;

    --tertiary-container: #4c4162;

    --tertiary-fixed: #eaddff;

    --tertiary-fixed-dim: #cfc0e8;

    --yellow: #d5c871;

    --yellow-container: #4f4700;

    --yellow-source: #f9e2af;

    --yellow-value: #f9e2af;

}
