@import "./themes/theme.css";
@import "../../.cache/wal/colors-wlogout.css";

* {
    border: none;
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    outline-style: none;
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    animation: gradient_f 20s ease-in infinite;
}

window {
    background-color: rgba(12, 12, 12, 0.1);
}

button {
    color: @foreground;
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
}

button:hover {
    background-size: 30%;
    background-color: @color8;
}

button:focus {
    background-size: 40%;
    background-color: @color4;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#lock {
    background-image: image(url("./icons/lock.svg"));
}
#logout {
    background-image: image(url("./icons/logout.svg"));
}
#reboot {
    background-image: image(url("./icons/reboot.svg"));
}
#suspend {
    background-image: image(url("./icons/suspend.svg"));
}
#shutdown {
    background-image: image(url("./icons/shutdown.svg"));
}
#hibernate {
    background-image: image(url("./icons/hibernate.svg"));
}
